.hero-section{
    background-image: url('../img/Background/Hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}

.btn-rekomendasi{
    border-radius: 20px;
    border: none;
    color: white;
    background-color: #F7AC12;
    padding: 8px 30px !important;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transform: scale(1.2);
    transition: transform .3s ease-in-out;
}

.btn-rekomendasi:hover{
    color: white;
    transform: scale(1);
}

