body {
    margin: 0;
    font-family: Arial;
    background: #EFEFFD;
}

/* BACK */
.back-btn {
    position: absolute;
    top: 28px;
    left: 28px;
    font-weight: 500;
    color: #1F2937;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* CENTER WRAPPER */
.auth-wrapper {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CARD */
.auth-card {
    width: 100%;
    max-width: 480px;
    background: #fff;
    border-radius: 32px;
    padding: 44px 40px;
    box-shadow: 0 30px 60px rgba(0,0,0,.18);
}

.auth-title {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 6px;
    color: #111827;
}

.auth-subtitle {
    text-align: center;
    font-size: 14px;
    color: #6B7280;
    margin-bottom: 32px;
}

.input-field{
    padding: 12px 16px;
    border-radius: 12px;
    border: 1px solid #D1D5DB;
    font-size: 16px;
    color: #111827;
    transition: all .3 ease-in-out;
}

.input-field::placeholder{
    color: #6B7280;
}

.input-field:focus{
    outline: none;
    border-color: #B0170F;
    box-shadow: none;
}
