@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

*{
    font-family: 'Bricolage Grotesque', 'Arial';
}

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #EFEFFD;
    overflow-x: hidden;
}

.nav-link.active{
    color: red !important;
}

.nav-link:hover{
    color: red;
}

.btn-masuk{
    border: 2px solid #B0170F;
    color: #000;
    padding: 8px 30px !important;
}

.btn-masuk:hover{
    background-color: #DC2629;
    color: #fff;
    border: 2px solid transparent;
}

.btn-daftar{
    min-width: 111.3px !important;
    background-color:#B0170F;
    color: white;
    text-align: center;
    padding: 10px 30px !important;
}

.btn-daftar:hover{
    background-color: #6B0702;
    color: #fff;
}

.bg-cream {
    background: #fff7ec;
}

.footer-dark {
    background: #0b1d2d;
    color: #fff;
}

.footer-dark a {
    color: #cfd8dc;
    text-decoration: none;
}

.footer-dark a:hover {
    color: #fff;
}

.notif-box {
    width: 360px;
    border-radius: 14px;
    overflow: hidden;
}

.notif-header {
    font-size: 18px;
    border-bottom: 1px solid #e9ecef;
}

.notif-item {
    display: flex;
    align-items: start;
    gap: 12px;
    padding: 16px;
    border-bottom: 1px solid #f1f3f5;
    cursor: pointer;
    transition: background 0.2s ease;
}

.notif-item:hover {
    background-color: #f8f9fa;
}

.notif-icon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #D9E1F1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #2b2f32;
}

.notif-content {
    flex: 1;
}

.notif-title {
    font-weight: 600;
    font-size: 15px;
}

.notif-message {
    font-size: 13px;
    color: #6c757d;
}

.notif-time {
    font-size: 12px;
    color: #6c757d;
    white-space: nowrap;
}
